.overlay {
    position:fixed;
    display:none;
}

.customPopup {
    display:none;
    position:fixed;
    transform: translate(-50%,-50%);
    background-color:rgb(0,0,0);
    color:black;
    color-scheme: light dark;
}
#closeCust {
    width: 120px;
    height: 30px;


}
#openCust {
    width: 120px;
    height: 30px;
}
.output {
display:flex;
flex-wrap:wrap;
border-width: 0px;
outline-style: none;

}
.output > div {
flex:1;
}
